@{
    ViewData["Title"] = "About";
}
<h3 class="box-title">@ViewData["Title"]</h3>

<p>Download source from <a href="https://github.com/VCKoh/VC.TagHelpers">https://github.com/VCKoh/VC.TagHelpers</a>.</p>
